/* Desktop & Laptops */

@media (min-width: 1025px) {}


/* Tablet & Ipads */

@media (min-width: 801px) and (max-width: 1024px) {}


/* Mobile Phone */

@media (max-width: 800px) {
    #heading span {
        font-size: 60px;
    }
    .image img {
        border: 3px solid white;
        border-radius: 50px;
        height: 200px;
        width: 200px;
        margin-top: -100px;
    }
    .image img:hover {
        border-radius: 500px;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
    }
    #aboutme {
        margin-top: 50px;
        margin-left: 50px;
        width: 400px;
    }
    a {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .image img {
        margin-top: -80px;
    }
}

@media (max-width: 550px) {
    .image {
        float: none;
        display: block;
    }
    .image img {
        margin-left: 50px;
        margin-top: 20px;
        height: 250px;
        width: 250px;
    }
    #aboutme {
        padding-right: 50px;
        width: 400px;
    }
    a {
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    #heading span {
        font-size: 50px;
    }
    .image {
        padding: 10px;
        float: center;
        display: block;
    }
    .image img {
        margin-top: 20px;
        /* margin-left: 100px; */
        height: 250px;
        width: 250px;
    }
    #aboutme {
        float: center;
        /* margin-left: 70px; */
        width: 250px;
    }
    a {
        font-size: 15px;
    }
}

@media (max-width: 300px) {
    #heading span {
        font-size: 45px;
    }
    .image {
        float: center;
        display: block;
    }
    .image img {
        margin-top: 20px;
        /* margin-left: 100px; */
        height: 200px;
        width: 200px;
    }
    #aboutme {
        float: center;
        /* margin-left: 70px; */
        width: 400px;
    }
    a {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 280px) {
    #heading span {
        font-size: 35px;
    }
}

@media (max-width: 240px) {
    #heading span {
        font-size: 25px;
    }
    .image img {
        margin-left: 30px;
    }
    #aboutme {
        float: center;
        margin-left: 50px;
        width: 250px;
    }
}